{{!-- <li class="collection-item">
  <div>{{name}}<a href="#!" class="secondary-content">
      <i class="material-icons">add_circle</i></a>
  </div>
</li> --}}
<li class="collection-item">
  <div>{{name}}</div>
  <div>{{quantity}}</div>
  <div>{{measure}}</div> <a href="#!" class="secondary-content"><i class="material-icons">add_circle</i><i
      class="material-icons">delete</i></a>
</li>