<div class="row white food2-image">
 <header>
    <nav class="transparent">
      <div class="nav-wrapper">
        <img href="#" class="brand-logo logo" src="./links/Platters and Pantries.png">
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="waves-effect waves-light"><a href="/login">Login</a></li>
          <li><a class="white-text logoutBtn">Logout</a></li>
          <li class="waves-effect waves-light"><a href="/">Home</a></li>
          <li class="waves-effect waves-light"><a href="/recipes">Recipes</a></li>
          <li><a class="white-text" href="/groceryList">Grocery List</a></li>
          <li><a class="white-text" href="/pantry">My Pantry</a></li>
          <li class="waves-effect waves-light"><a href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav black white-text" id="mobile">
      <li><a class="white-text" href="/login">Login</a></li>
      <li><a class="white-text logoutBtn">Logout</a></li>
      <li><a class="white-text" href="/">Home</a></li>
      <li><a class="white-text" href="/recipes">Recipes</a></li>
      <li><a class="white-text" href="/groceryList">Grocery List</a></li>
      <li><a class="white-text" href="/pantry">My Pantry</a></li>
      <li><a class="white-text" href="/about">About</a></li>
    </ul>

  </header>
  <main>
    <div class="col l12 s12 ">
      <div></div>


      <div class="row transparent-white">
        <main>
          <div class="col l6 s12 ">
            <h2 class="black-text ">About Us</h2>
            <h3 class="black-text light-weight">
              We are the Pleasant Pantry Professionals. We are a group of 4 Junior Northwestern Web Developers. With
              our combine skillset, our application was built using Materialize CSS and Edamam API. With this app we
              wanted to allow users to create a shopping list based on recipes that they searched for. They can add and
              remove items from a grocery list to allow them to customize their personal shopping items for a
              delicious home made meal experience. <br>Happy Eating!

            </h3>
          </div>
          <div class="col l6 s12 ">
            <div class="food-image"></div>
          </div>
      </div>
      <div class="row">
        <main>
          <div class="center-100pc flex-container col l3 s12 flow-text ">
            <div>
              <img src="./links/team images/Lea.JPG" alt="image of lea" width="200" height="200">
              <h4><b>Lea</b></h4>
              <h5 class="white-text">
                Hey, It's Lea. Design is my passion whether its the creation of print or web. I am excited to
                broaden my skillsets on a different platform and learn the user interface and user experience side
                of web development.
              </h5>
            </div>
            <a class="btn-flat deep-orange-text darken-2-text" href="https://github.com/lealinnea">Github</a>
            <a class="btn-flat deep-orange-text darken-2-text"
              href="https://lealinnea.github.io/portfolio/">Portfolio</a>
          </div>
          <div class="center-100pc flex-container col l3 s12 flow-text ">
            <div>
              <img src="./links/team images/Theo.jpg" alt="image of Theo" width="200" height="200">
              <h4><b>Theo</b></h4>
              <h5 class="white-text">
                Hello, my name is Theo! My background is orriginally in mechanical engineering, but I'm fully embracing the world of web and software development! I'm looking to dive in and expand my skills as I make this exciting career change. 
              </h5>
            </div>
            <a class="btn-flat deep-orange-text darken-2-text" href="https://github.com/Tward9">Github</a>
            <a class="btn-flat deep-orange-text darken-2-text"
              href="https://tward9.github.io/Portfolio_Draft_Two/">Portfolio</a>
          </div>
          <div class="center-100pc flex-container col l3 s12 flow-text ">
            <div>
              <img src="./links/team images/Abeer.jpg" alt="image of abeer" width="200" height="200">
              <h4><b>Abeer</b></h4>
              <h5 class="white-text">
                Hey, It's Abeer. I graduated as a Mechanical Engineer but trying to expand my portfolio into Web Development. I hope to combine the skillsets from both fields to broaden my oppurtunities.
              </h5>
            </div>
            <a class="btn-flat deep-orange-text darken-2-text" href="https://github.com/anaeem23">Github</a>
            <a class="btn-flat deep-orange-text darken-2-text"
              href="https://anaeem23.github.io/Northwestern_BootCamp-02-Homework/">Portfolio</a>
          </div>
          <div class="center-100pc flex-container col l3 s12 flow-text ">
            <div>

              <img src="./links/team images/Will.jpg" alt="image of Will" width="200" height="200">
              <h4><b>Will</b></h4>
              <h5 class="white-text">
                Hey, I'm Will. I moved back to Logan Square after four years in Michigan helping my ageing grandparents. Been looking to start fresh after some time working as a cable tech, and a coding bootcamp seemed like a good opportunity. In my spare time I write children's books (current work in progress: "Turnip Hero"), am learning harmonica, recently started a food blog based on my late mom's recipes, and I plan to take up boxing in the near future.
              </h5>
            </div>
            <a class="btn-flat deep-orange-text darken-2-text" href="https://github.com/lealinnea">Github</a>
            <a class="btn-flat deep-orange-text darken-2-text"
              href="https://lealinnea.github.io/portfolio/">Portfolio</a>
          </div>

      </div>
  </main>
  <script src="/js/recipeLookup.js"></script>
<script src="/js/logout.js"></script>