/* ====Universal Style==== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(223, 223, 223);
}

/* =====Fonts and Styles====*/

h1 {
  font-family: "Alfa Slab One", cursive;
  line-height: 2em;
  font-size: 3em;
  text-shadow: 2px 2px #2e2e2e;
}
h2 {
  font-weight: 200;
}
h4 {
  font-size: 1em;
}
h5 {
  font-weight: 400;
}
h6 {
  font-weight: 200;
  font-size: 0.6em;
}
p {
  font-weight: 200;
}
li {
  font-weight: 200;
}
/*===========*/
body {
  background: black;
}

/*===========*/
nav {
  height: 80px;
  box-shadow: none;

}


.align {
text-align: right;
}

nav li {

  text-align: center;
  margin: 5px;
  color: #e84830;
  border-radius: 15px;
  display: inline-block;
  line-height: 2.5;
  margin-right: 40px;
}


/*===========*/
main {
  width: 80%;
  margin: auto;
}

.logo {
  margin-top: 20px;
  margin-left: 50px;
  width: 150px;
}
@media only screen and (max-width: 1000px) {
  .logo{
      margin-top: 20px;
      margin-left: 0px;

    }
  }

.salad {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chef-image {
  background-image: url("../links/chef2.png");
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.dish-image {
  background-image: url("../links/steak.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.btn {
  color: #e84830;
  background-color: #2e2e2e;
  border-radius: 15px;
  margin: 5px;
}
.btn:hover {
  background-color: #e84830;
  color: #2e2e2e;
}
/* ====Search Bar=== */
.searchbar{
    width: 50%;
}
.center-25pc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
@media only screen and (max-width: 650px) {
  .center-page {
    width: 100%;
    padding-right: 40px;
    margin-top: 60px;
  }
}
.center-50pc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-100pc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.margin-top-25pc {
  margin-top: 25%;
}
.margin-top-15pc {
  margin-top: 15%;
}
.vl {
  border-left: 4px solid #e84830;
  padding-left: 10px;
}

/* cards */

.card {
    display: flex;
    width: 230px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1em;
}

@media only screen and (max-width: 600px) {
.card {
    flex-direction: column;
    width: 100%;
}}
.card-image {
    height: 250px;
  }

.card-content {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.collection {  
  border-radius: 15px;
  color: #e84830;
  border: none;
}
.collection-header {
  color: rgb(215, 215, 215);
}
.collection.with-header .collection-header {
    
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.collection .collection-item {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
.transparent-grey{
  background-color: rgba(0, 0, 0, 0.7);
  height: 800px;
}

.list{
  margin-top: 200px;
}

.valign-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
